@page "/Drugs/Add"
@using System.ComponentModel.DataAnnotations
@using MedSys.Api.Dtos
@using MedSys.Api.Services
@inject IApiService ApiService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Add Drug</PageTitle>
<h3>Add Drug</h3>

<div class="pt-5">
    <EditForm Model="@newDrug" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="container-fluid" style="max-width: 400px;">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <InputText id="Name" class="form-control" @bind-Value="newDrug.Name" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="NavigateBack">Cancel</button>
        </div>
    </EditForm>
</div>

@code {
    private DrugDTO newDrug = new DrugDTO();

    private async Task HandleValidSubmit()
    {
        var result = await ApiService.CreateAsync<DrugDTO>(newDrug);
        if (result.IsSuccessStatusCode)
        {
            NavigateBack();
        }
        else
        {
            Console.WriteLine("Failed to add drug.");
        }
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo("/Drugs", forceLoad: false);
        Navigation.Refresh();
    }
}
 