@page "/Checkups/Edit/{patientId:int}/{checkupId:int}"
@using System.ComponentModel.DataAnnotations
@using MedSys.Api.DTOs
@using MedSys.Api.Dtos
@using MedSys.Api.Services
@inject IApiService ApiService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Edit Checkup</PageTitle>
<h3>Edit Checkup</h3>

<div class="pt-5">
    <EditForm Model="@currentCheckup" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="container-fluid" style="max-width: 400px;">
            <div class="mb-3">
                <label for="CheckupTypeId" class="form-label">Checkup Type</label>
                <InputSelect id="CheckupTypeId" class="form-control" @bind-Value="currentCheckup.CheckupTypeId">
                    <option value="">-- Select Checkup Type --</option>
                    @foreach (var type in checkupTypes)
                    {
                        <option value="@type.Id">@type.Name (@type.Code)</option>
                    }
                </InputSelect>
            </div>

            <div class="mb-3">
                <label for="CheckupDateTime" class="form-label">Checkup Date and Time</label>
                <input id="CheckupDateTime" type="datetime-local" class="form-control"
                       @bind="currentCheckup.CheckupDateTime" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="NavigateBack">Cancel</button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter] public int patientId { get; set; }  
    [Parameter] public int checkupId { get; set; }
    private CheckupSimplifiedDTO currentCheckup = new CheckupSimplifiedDTO ();
    private List<CheckupTypeDTO> checkupTypes = new List<CheckupTypeDTO>();

    protected override async Task OnInitializedAsync()
    {
        currentCheckup.PatientId = patientId;
        checkupTypes = await ApiService.GetAllAsync<CheckupTypeDTO>();
        currentCheckup = await ApiService.GetByIdAsync<CheckupSimplifiedDTO>(checkupId);
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var isUpdated = await ApiService.UpdateAsync<CheckupSimplifiedDTO>(currentCheckup.Id, currentCheckup);
            if (isUpdated)
            {
                NavigateBack();
            }
            else
            {
                Console.WriteLine("Failed to update checkup.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An exception occurred while editing the checkup: {ex.Message}");
        }
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo($"/Patients/View/{patientId}", forceLoad: false);
        Navigation.Refresh();
    }
}
 