@page "/"
<PageTitle>Home</PageTitle>

<div class="container">
    <div class="content">
        <h1>MedSys</h1>
        <p>Your healthcare management system at your fingertips.</p>
    </div>
</div>

